@namespace oxy url('http://www.oxygenxml.com/extensions/author');
@namespace xml url('http://www.w3.org/XML/1998/namespace');
@namespace hkg url('http://www.gotthelf.unibe.ch');

oxy|comment {
    display: none ! important;
}

TEI {
	/* font-family: Arial, Helvetica, sans-serif; */
	font-family: 'DejaVu Sans', 'Comic Sans MS', sans-serif;

}

teiHeader {
    padding-bottom: 2em;
	background-color: #BDCBD3;
	padding: 1em;
	padding-top: 0em;
}

title {
	color: white;
    display: block;
    text-align:left;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 0.5em;
    background-color: #AB0805;
	padding: 0.5em;
}

publicationStmt, sourceDesc{
	background-color: #E8E8EB;
    display: block;
    text-align: left;
	padding: 0.5em 1em;
}

publicationStmt>p,sourceDesc>p {
	background-color: white;
	-oxy-display-tags: none;
	padding: 0em 0.5em;
}

publicationStmt:before {
	content: "publicationStmt: ";
    font-weight: bold;
	width: 10em;
}

sourceDesc:before {
	content: "sourceDesc: ";
    font-weight: bold;
	width: 10em;
}

text {
	background-color: #BDCBD3;
	padding-bottom: 1em;
}

front {
    margin-bottom: 3em;
    margin-left: 1em;
	padding-top: 1em;
}

head {
    display: block;
    font-size: 24px;
    font-weight:bold;
	color: #AB0805;
}

div > p {
    display: block;
	margin: 1.0em 0em;
}

body > div{
    -oxy-foldable: true;
	-oxy-folded: true;
}

body > div:before {
    display:block;
    content:attr(n);
    font-size: 24px;
    font-weight:bold;
    color: #AB0805;
}

ab:before {
	content: "Bearbeitungsstatus: " oxy_combobox(           
		edit, "@hkg:status",
		editable, true,
		values, "vorkontrolliert, kontrolliert, an_GND, bei_GND, inkl_GND",
		labels, "vorkontrolliert, kontrolliert, an GND, bei GND, inkl. GND") 
		"                        ID: " attr("xml:id");
	background-color: #E8E8EB;
	width: 100%;
	font-size: small;
	text-align: right;
}

/*
element {
    content: "Label: "
        oxy_textfield(
            edit, "@my_attr",
            values, "value1, value2",
            color, "red",
            columns, 40);
}
*/

ab {
    display: block;
    margin: 0.5em 0em 2em;
	margin-right: 1em;
    padding: 0.5em 1em;
	padding-bottom: 2em;
	background-color: #E8E8EB;
}

seg {
	margin: 0.5em 0em;
	-oxy-display-tags: none;
}

/*--Personen------------------------------------------------------*/
/*
ab > seg {
    white-space: -oxy-trim-when-ws-only;
}*/
/*
seg[type='name'] {
    white-space:nowrap;
}*/

/* ***** Personenname ***** */
seg[type='name'] {
    display:block;
	background-color: white;
	font-size: 16px;
	margin-bottom: 1em;
	padding:0.2em;
	-oxy-display-tags:none;
}

seg[type='name'] persName, seg[type='name'] orgName {
	font-size: 20px;
/*	display: block;*/
	-oxy-display-tags:inherit;
	color: #000000;
}

seg[type='name'] nameLink {
	font-size: 20px;
	font-style: italic;
/*	display: block;*/
	-oxy-display-tags: none;
}

/*
seg > date:before {
    content: "\ALebensdauer ";
    color: #004477;
    font-weight: bold;
}*/

/* ***** Normdaten ***** */
seg[type='links']:before {
    content: "Normdaten ";
    color: #AB0805;
    font-weight:bold;
}

seg[type='links'] {
	-oxy-folded: true;
	-oxy-foldable: true;
}

seg[type='links'] > list {
    display:block;
    padding-left: 1em;
}

seg[type='links'] > list > item{
    display: block;
	background-color: white;
	margin: 0.5em 0em;
	width: 23em;
	-oxy-display-tags:none;
}

seg[type='links'] > list > item[ana]:before {
	content: oxy_combobox(           
		edit, "@ana",
		editable, true,
		values, "GND, VIAF, histHub",
		labels, "GND, VIAF, histHub");
    /*content: oxy_textfield(
            edit, "@ana",
            columns, 10) "   "; */
	background-color: #E8E8EB;
	width: 5em;
	
}

/* ***** Affiliationen ***** */
seg[type='affiliations']:before {
    content: "Affiliationen ";
	color: #AB0805;
	-oxy-folded: true;
	-oxy-foldable: true;
    font-weight:bold;
}

seg[type='affiliations'] {
	-oxy-folded: true;
	-oxy-foldable: true;
}

seg[type='affiliations'] > list {
    display:block;
    padding-left: 1em;
}

seg[type='affiliations'] > list > item {
    display:block;
}

affiliation:before {
	content: 
		"@role: "
		oxy_textfield(edit, "@role", columns, 40)
		"\A@hkg:orgKey: "
		oxy_textfield(edit, "@hkg:orgKey", columns, 40) oxy_button(actionID, 'change_orgKey_in_affiliation', showText, true)
		"\A@when: "
		oxy_textfield(edit, "@when", columns, 40)
		"\A@from: "
		oxy_textfield(edit, "@from", columns, 40)
		"\A@to: "
		oxy_textfield(edit, "@to", columns, 40)
		"\A@notBefore: "
		oxy_textfield(edit, "@notBefore", columns, 40)
		"\A@notAfter: "
		oxy_textfield(edit, "@notAfter", columns, 40)
		"\A@mentioned: "
		oxy_textfield(edit, "@hkg:mentioned", columns, 40)
		;
	display: block;
	background-color: #E8E8EB;
	margin-bottom: 5px;
	font-size: small;
	font-weight: normal;
	line-height: 2.5em;
}

affiliation:after {
	content: 
		oxy_xpath(
			oxy_concat("/TEI/text/body/div/ab[@xml:id='", oxy_substring(attr(hkg|orgKey), 1), "']/seg[@type='name']/orgName/text()")
		)
		" "
		oxy_url("gfx/link_register.png");
		link: attr(hkg|orgKey);
	display: block;
	background-color: #E8E8EB;
	margin-top: 5px;
	font-size: small;
	font-weight: normal;
	line-height: 2.5em;
}

affiliation {
    display: block;
	background-color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 0.5em;
	padding: 0.4em;
	width: 90%;
	line-height: 40px;
	-oxy-display-tags: none;
	-oxy-placeholder-content: "Hier die Affiliation eingeben";
	-oxy-show-placeholder: always;
}

/* ***** Bände ***** */

seg[type='HKG']:before {
    content: "Editionsregister HKG";
    color: #AB0805;
    font-weight:bold;
}

seg[type='SW_EB']:before {
    content: "Editionsregister SW/EB";
    color: #AB0805;
    font-weight:bold;
}

seg[type='HKG'], seg[type='SW_EB'] {
	background-color: #E8E8EB;
    display:block;
	-oxy-folded: true;
	-oxy-foldable: true;
}

seg[type='HKG'] > note:before {
	content: 
		attr("source") " "
		oxy_combobox(           
			edit, "@n",
			editable, true,
			width, 80px,
			values, "A.6.2, D.3, F.1.2, F.1.3",
			labels, "A.6.2, D.3, F.1.2, F.1.3")
		"\ASeite(n):";
    /*content: attr("source") " " attr("n") ", Seite(n) ";	*/
	width: 100%;
    display: block;
	padding-left: 0em;
	line-height: 1.8em;
	background-color: #E8E8EB;
}

seg[type='SW_EB'] > note:before {
	content:
        oxy_combobox(           
            edit, "@source",
            editable, true,
            values, "SW, EB",
            labels, "SW, EB")
        oxy_textfield(           
            edit, "@n", columns, 6)
		"\ASeite(n):";
	/*content: attr("source") " " attr("n") ", Seite(n) ";	*/
	width: 100%;
	display: block;
	padding-left: 0em;
	line-height: 1.8em;
	background-color: #E8E8EB;
}

seg[type='HKG'] > note, seg[type='SW_EB'] > note {
	-oxy-placeholder-content: "Hier die Seitenzahlen eingeben, durch Komma getrennt";
	display: block;
	width: 100%;
	line-height: 1.8em;
	margin: 0.5em;
	margin-bottom: 1.5em;
	background-color: #FFFFFF;
}

/* ***** Beziehungen ***** */
seg[type='relations']:before {
    content: "Beziehungen ";
    color: #AB0805;
    font-weight:bold;
	-oxy-display-tags:none;
}

seg[type='relations'] {
	-oxy-folded: true;
	-oxy-foldable: true;
}

/* seg[type='relations'] note:before {
	display: block;
    content: oxy_combobox(           
            edit, "@type",
            editable, true,
            values, "persons, institutions");
	background-color: #E8E8EB;
	padding-bottom: 0.5em;
} */

seg[type='relations'] note {
    display: block;
	background-color: white;
	margin: 0.5em;
	max-width: 40em;
    margin-left: 1em;
	margin-bottom: 0em;
	padding: 0.5em;
	-oxy-display-tags:none;
}

seg[type='relations'], seg[type='relations'] list, seg[type='relations'] item, seg[type='relations'] note {
	-oxy-display-tags: none;
}

listRelation {
	-oxy-display-tags: none;
}

relation {
	display: block;
	margin: 1em 0.5em;
	padding: 0.4em 0.2em;
	background-color: white;
	-oxy-display-tags: none;
	-oxy-placeholder-content: "Hier bitte Text eingeben";
}

/* ***** Siehe ***** */
seg[type='see'] > note > name[hkg|persKey]:before {
	content: "Siehe: ";
	color: #000000;
}

seg[type='see'] > note > name:not([hkg|persKey]) {
    display: block;
	background-color: white;
	font-size: 20px;
	margin-bottom: 1em;
	padding:0.2em;
	-oxy-display-tags:none;
}

seg[type='see'] > note > name[hkg|persKey] {
    color: #AB0805;
    font-weight:bold;
	-oxy-display-tags:none;
}

seg[type='see'] > note > name[hkg|persKey]:after {
	content: " " url(gfx/link.png);
	link: attr(hkg|persKey);
}

/* ***** Siehe auch ***** */
seg[type='seeAlso']:before {
    content: "Siehe auch ";
    color: #AB0805;
    font-weight:bold
}

seg[type='seeAlso'] > name {
    display: block;
	background-color: white;
	margin: 0.5em 1em;
	max-width: 40em;
	-oxy-display-tags:none;
}

seg[type='seeAlso'] > name:after {
	/* link: "USERNAME:PASSWORD@SERVER ...#" attr(key); */
    /* link: oxy_url(oxy_substring(oxy_base-uri(), 3, 7)) "/exist/webdav/db/data/Register/Personenregister.xml" attr("key"); */
	link: attr(hkg|persKey);
	content: " " url(gfx/link.png);
}
   

/* ***** Gruppe ***** */
ab[type='group'] {
    border-left: 3px solid #AB0805;
}

ab[type='group']:before {
	background-color: #E8E8EB;
}


ab[type='group'] > seg > name {
    display:block;
	background-color: white;
	font-size: 20px;
	margin-bottom: 1em;
	padding:0.2em;
	-oxy-display-tags:none;
}

ab[type='group'] > seg > list:before {
    content: "Gruppenmitglieder ";
    color: #AB0805;
    font-weight:bold;
}

ab[type='group'] > seg > list {
    display:block;
}

ab[type='group'] > seg > list > item > name {
    display: block;
	background-color: white;
	margin: 0.5em 1em;
	max-width: 40em;
	-oxy-display-tags:none;
}

ab[type='group'] > seg > list > item > name {
    display: block;
	background-color: white;
	margin: 0.5em 7em;
	max-width: 34em;
	-oxy-display-tags:none;
	-oxy-placeholder-content: "Beschreibung";
}

/* ***** Inline-Elemente ***** */
surname {
    font-weight: bold;
	-oxy-display-tags:inherit;
	-oxy-placeholder-content: "Hier bitte den Nachnamen eingeben";
}

forename{
	text-decoration: underline;
	-oxy-display-tags:inherit;
	-oxy-placeholder-content: "Hier bitte den Vornamen eingeben";
}

/* ***** überall erlaubte Inline-Elemente ***** */
genName {
	background-color: #DDDDDD;
	-oxy-display-tags:inherit;
}

seg[type='name'] name {
	font-style: italic;
	-oxy-display-tags:inherit;
}

addName {  
	background-color: #BBFFBB;
	-oxy-display-tags:inherit;
}

/*
roleName:before {
	content: " ";
}
*/

roleName {
	background-color: #FFDDFF;
	-oxy-display-tags:inherit;
}

date{
	font-family: monospace;
	-oxy-display-tags:inherit;
}

placeName {
    font-weight: bold;
	color: green;
	-oxy-display-tags:inherit;
}

placeName[sameAs]:after {
    content: " " oxy_url("gfx/link_register.png");
	/* link: "USERNAME:PASSWORD@SERVER ...#" attr(key); */
	/* link: oxy_url(oxy_substring(oxy_base-uri(), 3, 7)) "/exist/webdav/db/data/Register/Personenregister.xml" attr(sameAs); */
	link: attr(sameAs);
}

orgName {
    font-weight: bold;
	color: blue;
	-oxy-display-tags:inherit;
}

name {
    font-weight: bold;
	-oxy-display-tags:inherit;
	-oxy-placeholder-content: "Hier den Namen eingeben";
}

name[sameAs]:after {
    content: " " oxy_url("gfx/link_register.png");
	/* link: "USERNAME:PASSWORD@SERVER ...#" attr(key); */
	/* link: oxy_url(oxy_substring(oxy_base-uri(), 3, 7)) "/exist/webdav/db/data/Register/Personenregister.xml" attr(sameAs); */
	link: attr(sameAs);
}


/*
*[sameAs] {
    color: #3B68DB;
}
*/